.canvasContainer{
    border: 1px solid #bababa8a;
    border-radius:5px;
    width: 480px;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.canvasContainer p:nth-child(1){
    font-weight: 500;
}
@media screen and (max-width: 400px) {
    .canvasContainer{
        width: 100%;
    }
    CanvasCard div{
        width: 400px;
    }
}


